---
http_interactions:
- request:
    method: head
    uri: https://digital.library.temple.edu/iiif/info/p16002coll4/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Sun, 07 Jun 2020 10:16:47 GMT
      Etag:
      - '"5059-5a77bcab92913"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Jan 2021 19:18:13 GMT
- request:
    method: get
    uri: https://digital.library.temple.edu/iiif/info/p16002coll4/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Sun, 07 Jun 2020 10:16:47 GMT
      Etag:
      - '"5059-5a77bcab92913-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://cdm16002.contentdm.oclc.org/iiif/info/p16002coll4/manifest.json","@type":"sc:Collection","label":"Blockson
        Manuscripts","manifests":[{"@type":"sc:Manifest","@id":"https://cdm16002.contentdm.oclc.org/iiif/info/p16002coll4/4/manifest.json","label":"[Letter
        of 1866 April 30]"},{"@type":"sc:Manifest","@id":"https://cdm16002.contentdm.oclc.org/iiif/info/p16002coll4/7/manifest.json","label":"[Letter:
        date unknown]"},{"@type":"sc:Manifest","@id":"https://cdm16002.contentdm.oclc.org/iiif/info/p16002coll4/12/manifest.json","label":"[Letter:
        date unknown]"},{"@type":"sc:Manifest","@id":"https://cdm16002.content[...]
- request:
    method: get
    uri: https://cdm16002.contentdm.oclc.org/iiif/info/p16002coll4/4/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Tue, 26 May 2020 14:48:23 GMT
      Etag:
      - '"1d1b-5a68e2fee0d1c-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@type":"sc:Manifest","@id":"https://cdm16002.contentdm.oclc.org/iiif/info/p16002coll4/4/manifest.json","label":"[Letter
        of 1866 April 30]","metadata":[{"label":"Title","value":"[Letter of 1866 April
        30]"},{"label":"Date","value":"1866-04-30"},{"label":"Creator (Person)","value":"Still,
        William, 1821-1902"},{"label":"Subject","value":"African American fathers;
        Fathers and daughters; African American businesspeople; African American abolitionists"},{"label":"Geographic
        Subject","value":"Lombard Street (Philadelphia, Pa.); Oberlin (Ohio)"},{"label":"Personal
        Names","value":"Anderson, Caroline Still, 1848-1911 [recipient]; Cassey, J[...]
[...]
